<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usyd.capstone.mapper.ProductPriceRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.usyd.capstone.entity.ProductPriceRecord">
        <id column="id" property="id" />
        <result column="product_price" property="productPrice" />
        <result column="record_timestamp" property="recordTimestamp" />
        <result column="turn_of_record" property="turnOfRecord" />
        <result column="product_id" property="productId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_price, record_timestamp, turn_of_record, product_id
    </sql>

</mapper>
